'.platform-darwin':
  'cmd-F': 'project-find:show'
  'cmd-f': 'find-and-replace:show'
  'alt-cmd-f': 'find-and-replace:show-replace'

'.platform-win32':
  'ctrl-F': 'project-find:show'
  'ctrl-f': 'find-and-replace:show'
  'alt-ctrl-f': 'find-and-replace:show-replace'

'.platform-darwin .editor':
  'cmd-g': 'find-and-replace:find-next'
  'cmd-G': 'find-and-replace:find-previous'

  'cmd-e': 'find-and-replace:use-selection-as-find-pattern'

'.platform-win32 .editor':
  'ctrl-g': 'find-and-replace:find-next'
  'ctrl-G': 'find-and-replace:find-previous'

  'ctrl-e': 'find-and-replace:use-selection-as-find-pattern'

'.platform-darwin .find-and-replace':
  'cmd-enter': 'find-and-replace:replace-all'
  'alt-cmd-/': 'find-and-replace:toggle-regex-option'
  'alt-cmd-c': 'find-and-replace:toggle-case-option'
  'alt-cmd-s': 'find-and-replace:toggle-selection-option'

'.platform-win32 .find-and-replace':
  'ctrl-enter': 'find-and-replace:replace-all'
  'alt-ctrl-/': 'find-and-replace:toggle-regex-option'
  'alt-ctrl-c': 'find-and-replace:toggle-case-option'
  'alt-ctrl-s': 'find-and-replace:toggle-selection-option'

'.platform-darwin .project-find':
  'alt-meta-/': 'project-find:toggle-regex-option'
  'alt-meta-c': 'project-find:toggle-case-option'
  'meta-enter': 'project-find:replace-all'

'.platform-win32 .project-find':
  'alt-ctrl-/': 'project-find:toggle-regex-option'
  'alt-ctrl-c': 'project-find:toggle-case-option'
  'ctrl-enter': 'project-find:replace-all'

'.find-and-replace, .project-find, .project-find .results-view':
  'tab': 'find-and-replace:focus-next'
  'shift-tab': 'find-and-replace:focus-previous'
