'body':
  'meta-F': 'project-find:show'
  'meta-f': 'find-and-replace:show'

'.editor':
  'alt-meta-f': 'find-and-replace:show-replace'

  'meta-g': 'find-and-replace:find-next'
  'meta-G': 'find-and-replace:find-previous'

  'meta-e': 'find-and-replace:use-selection-as-find-pattern'

'.find-and-replace':
  'meta-enter': 'find-and-replace:replace-all'
  'alt-meta-/': 'find-and-replace:toggle-regex-option'
  'alt-meta-c': 'find-and-replace:toggle-case-option'
  'alt-meta-s': 'find-and-replace:toggle-selection-option'

'.find-and-replace, .project-find, .project-find .results-view':
  'escape': 'core:cancel'
  'tab': 'find-and-replace:focus-next'
  'shift-tab': 'find-and-replace:focus-previous'

'.project-find':
  'meta-enter': 'project-find:replace-all'
