'body':
  'meta-F': 'find-and-replace:display-find-in-project'

'.editor':
  'meta-f': 'find-and-replace:show'
  'alt-meta-f': 'find-and-replace:show-replace'

  'meta-g': 'find-and-replace:find-next'
  'meta-G': 'find-and-replace:find-previous'

  'meta-e': 'find-and-replace:use-selection-as-find-pattern'

'.find-and-replace':
  'enter': 'core:confirm',
  'escape': 'core:cancel'
  'meta-w': 'core:cancel'
  'alt-meta-/': 'find-and-replace:toggle-regex-option'
  'alt-meta-c': 'find-and-replace:toggle-case-option'
  'alt-meta-s': 'find-and-replace:toggle-selection-option'

'.find-and-replace .mini.editor input':
  'tab': 'find-and-replace:focus-next'
  'shift-tab': 'find-and-replace:focus-previous'

'.project-find-and-replace .preview-list':
  'enter': 'core:confirm'
  'left': 'find-and-replace:collapse-result'
  'ctrl-[': 'find-and-replace:collapse-result'
  'right': 'find-and-replace:expand-result'
  'ctrl-]': 'find-and-replace:expand-result'
