@import "ui-variables";

@label-width: 5em;
@button-width: 110px;

.editor .marker .region {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid #ddd; // need syntax color here..
  border-radius: 2px;

  box-sizing: content-box;

  padding: 0 0px;
  margin: -1px 0 0 -1px;
}

.find-and-replace,
.project-find {
  label {
    width: @label-width;
    text-align: right;
    vertical-align: middle;
    margin: 0 @component-padding 0 0;
    line-height: 28px; // Assumed the height of an editor to vertically center
  }
}

.find-and-replace {
  padding: @component-padding;
  -webkit-user-select: none;

  &.find-mode {
    .replace-container, label { display: none; }
  }

  .find-container, .replace-container {
    display: -webkit-flex;
    -webkit-flex-direction: row;

    .btn-toggle.btn-group {
      width: @button-width;
      margin-left: @component-padding;

      .btn {
        font-size: 14px;
        font-family: monospace;
      }
    }

    .editor-container {
      position: relative;
      -webkit-flex: 1;

      .editor {
        width: 100%;
      }
    }
  }

  .find-meta-container {
    position: absolute;
    top: 0.35em;
    right: 0;
    z-index: 2;

    .result-counter {
      font-size: .9em;
      margin-right: @component-padding;
    }
  }
}


.project-find {
  -webkit-user-select: none;

  .loading, .preview-block, .error-messages {
    display: none;
  }

  .find-container, .replace-container, .filter-container {
    display: -webkit-flex;
    -webkit-flex-direction: row;

    .btn-toggle.btn-group {
      width: @button-width;
      margin-left: @component-padding;

      .btn {
        font-size: 14px;
        font-family: monospace;
      }
    }

    .editor {
      width: 100%;
    }
  }

  .replace-container, .filter-container {
    display: none;
  }

  .preview-list {
    max-height: 10 * @component-line-height + @component-padding * 2;
    overflow: auto;
    position: relative;
    padding: 0 @component-padding;

    .search-result {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .line-number {
      margin-right: 1ex;
      text-align: right;
      display: inline-block;
    }

    .path-match-number {
      padding-left: 8px;
    }

    .preview {
      word-break: break-all;
      font-family: monospace;
    }
  }

}
