.editor .search-results .selection .region {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 2px;

  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  padding: 0 0px;
  margin: 0 0 0 -1px;
}
.search-in-buffer {
}