@import "octicon-mixins.less";

.editor .marker .region {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 2px;

  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  padding: 0 0px;
  margin: 0 0 0 -1px;
}

.search-in-buffer {
  width: 400px;
  margin-left: -200px;

  .btn-toggle.btn-group {
    .btn {
      font-weight: bold;
      background: #303030;
      color: #b0b0b0;
      font-size: 14px;
      padding: 3px 8px;

      border: none;
      border-left: 1px solid #2c2c2c;

      &:hover{ background: #353536; }
      &.enabled{ color: #66ccbb; background: #404040; }

      &.option-regex{
        font-size: 18px;
      }
    }
    .btn:first-child {
      border-left: none;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 2px;
    }
    .btn:last-child {
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  .find-editor-container {
    position: relative;
    width: 300px;

    .find-meta-container {
      position: absolute;
      right: 0;
      top: .35em;
      z-index: 2;
    }
    .result-counter {
      position: relative;
      top: -1px;

      font-size: .9em;
      color: #555;
      margin-right: 10px;
    }
    .icon-previous, .icon-next {
      text-decoration: none;
      color: #aaa;
      &:hover{
        color: #fff;
      }
    }
    .icon-previous { .octicon(chevron-left, 16px); }
    .icon-next { .octicon(chevron-right, 16px); }
  }
}