@import "octicon-mixins.less";

.editor .marker .region {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 2px;

  -webkit-box-sizing: content-box;
  box-sizing: content-box;

  padding: 0 0px;
  margin: 0 0 0 -1px;
}

.search-in-buffer {
  width: 400px;
  margin-left: -200px;

  .btn-toggle.btn-group{
    .btn.enabled{
      color: #0ff;
    }
  }

  .find-editor-container {
    position: relative;
    width: 300px;

    .find-meta-container {
      position: absolute;
      right: 0;
      top: .35em;
      z-index: 2;
    }
    .result-counter {
      position: relative;
      top: -1px;

      font-size: .9em;
      color: #555;
      margin-right: 10px;
    }
    .icon-previous, .icon-next {
      text-decoration: none;
      color: #aaa;
      &:hover{
        color: #fff;
      }
    }
    .icon-previous { .octicon(chevron-left, 16px); }
    .icon-next { .octicon(chevron-right, 16px); }
  }
}